#!/bin/bash

######################################################################
# wallet.config
#
# [Description]
#  wallet用bashの定義ファイル。
#  変更は不要だが、バージョンの同期は取れていること。
#
######################################################################

# COMMAND
CF_CMD=cmd.sh
CF_CMD_START=start.sh
CF_CMD_STOP=stop.sh
CF_CMD_GETBLOCKCOUNT=getblockcount.sh
