#!/bin/bash

# wallet application home
ENV_WALLETAPP_HOME=/wallet/xxcoin
# daemon file
ENV_DAEMON=${ENV_WALLETAPP_HOME}/bin/xxcoind
# client file
ENV_CLIENT=${ENV_WALLETAPP_HOME}/bin/xxcoin-cli

# LD_LIBRARY_PATH(BerkeleyDB.4.8, OpenSSL, Boost ...)
ENV_LIB=
#ENV_LIB=/wallet/common/lib

# batch-file's directory
ENV_BATCH_DIR=/wallet/cryptocurrency/script/bash/wallet
# cmd file
ENV_CMD_SH=${ENV_BATCH_DIR}/cmd.sh

# commad
ENV_CMD_START=${ENV_BATCH_DIR}/start.sh
ENV_CMD_STOP=${ENV_BATCH_DIR}/stop.sh

# wallet data home
ENV_WALLETDATA_HOME=/home/user/.xxcoin

