#!/bin/bash

######################################################################
# coincheck.config
#
# [Description]
#  Coincheck用bashの定義ファイル。
#  変更は不要だが、仕様変更があった場合は変更する。
#
######################################################################

# wget option
CF_WGET_OPTION="--timeout 30 -t 2"

# coincheck request URL
CF_COINCHECK_REQUEST_URL=https://coincheck.com

# Ticker ティッカー /api/ticker
CF_COINCHECK_API_TICKER=${CF_COINCHECK_REQUEST_URL}/api/ticker

# Public trades 全取引履歴 /api/trades
CF_COINCHECK_API_TRADES=${CF_COINCHECK_REQUEST_URL}/api/trades
CF_COINCHECK_API_TRADES_P_PAIR_N=pair
CF_COINCHECK_API_TRADES_P_PAIR_V1="btc"
CF_COINCHECK_API_TRADES_P_PAIR_V2="jpy"

# Order Book 板情報 /api/order_books
CF_COINCHECK_API_ORDERBOOK=${CF_COINCHECK_REQUEST_URL}/api/order_books

# Calc Rate レート取得 /api/exchange/orders/rate
CF_COINCHECK_API_ORDERSRATE=${CF_COINCHECK_REQUEST_URL}/api/exchange/orders/rate
CF_COINCHECK_API_ORDERSRATE_P_TYPE_N=order_type
CF_COINCHECK_API_ORDERSRATE_P_TYPE_V="sell buy"
CF_COINCHECK_API_ORDERSRATE_P_PAIR_N=pair
CF_COINCHECK_API_ORDERSRATE_P_PAIR_V1="btc"
CF_COINCHECK_API_ORDERSRATE_P_PAIR_V2="jpy"
CF_COINCHECK_API_ORDERSRATE_P_AMOUNT_N=amount
CF_COINCHECK_API_ORDERSRATE_P_AMOUNT_V=1
CF_COINCHECK_API_ORDERSRATE_P_PRICE_N=price
CF_COINCHECK_API_ORDERSRATE_P_PRICE_V=1

# Buy Rate 販売レート取得 /api/rate/[pair]
CF_COINCHECK_API_RATE=${CF_COINCHECK_REQUEST_URL}/api/rate
CF_COINCHECK_API_RATE_PAIR_ALL=all
CF_COINCHECK_API_RATE_PAIR_1="jpy usd cny btc eth etc lsk fct xmr rep xrp zec zec xem ltc dash bch"
CF_COINCHECK_API_RATE_PAIR_2="jpy btc"

