#!/bin/bash

######################################################################
# wallet.config
#
# [Description]
#  wallet用bashの定義ファイル。
#  変更は不要だが、バージョンの同期は取れていること。
#
######################################################################

# COMMAND
CF_CMD=cmd.sh
CF_CMD_START=start.sh
CF_CMD_STOP=stop.sh
CF_CMD_GETBLOCKCOUNT=getblockcount.sh
CF_CMD_ENCRYPTWALLET=encryptwallet.sh

# Error Code
CF_ERR_SETTINGS=100                 # 設定ファイル無し
CF_ERR_ENCRYPTWALLET_CANCEL=101     # ウォレット暗号化キャンセル
CF_ERR_ENCRYPTWALLET_PASSPHRASE=102 # ウォレット暗号化パスワード誤り



