#!/bin/bash

######################################################################
# zaif.config
#
# [Description]
#  Zaif用bashの定義ファイル。
#  変更は不要だが、仕様変更があった場合は変更する。
#
######################################################################

# wget option
CF_WGET_OPTION="--timeout 30 -t 1"

# Zaif 公開API URL
CF_ZAIF_API_URL=https://api.zaif.jp/api/1

# APIの通貨ペア
CF_ZAIF_API_MAIN_PAIR1="btc mona xem bch eth"
CF_ZAIF_API_MAIN_PAIR2="jpy btc"
CF_ZAIF_API_TOKEN_PAIR1="zaif xcp bitcrystals sjcx fscc pepecash cicc ncxc jpyz"
CF_ZAIF_API_TOKEN_PAIR2="jpy btc"
CF_ZAIF_API_COMSA_PAIR1="erc20.cms mosaic.cms"
CF_ZAIF_API_COMSA_PAIR2="jpy"

# currencies 通貨情報 /currencies/{currency}
CF_ZAIF_API_CURRENCIES=${CF_ZAIF_API_URL}/currencies/all

# currency_pairs 通貨ペア情報 /currency_pairs/{currency_pair}
CF_ZAIF_API_CURRENCYPAIRS=${CF_ZAIF_API_URL}/currency_pairs/all

# last_price 現在の終値 /last_price/{currency_pair}
CF_ZAIF_API_LASTPRICE=${CF_ZAIF_API_URL}/last_price

# ticker ティッカー /ticker/{currency_pair}
CF_ZAIF_API_TICKER=${CF_ZAIF_API_URL}/ticker

# trades 全ての取引履歴 /trades/{currency_pair}
CF_ZAIF_API_TRADES=${CF_ZAIF_API_URL}/trades

# depth 板情報 /depth/{currency_pair}
CF_ZAIF_API_DEPTH=${CF_ZAIF_API_URL}/depth

